#main{
    width: auto;
	height: auto;
    display: flex;
    flex-direction: column;
    background: aliceblue;
}
#head{
    width: auto;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #000;
}

.components-list-group {
    display: flex;
    align-items: center;
}

.list-group-item{
    background: #E6E6E6;
}

.list-group {
    margin-top: 10px;
}



.checkbox-inline {
    margin: 25px;
}
/* #topNavText {
    margin: 25px;
}
#bottomNavText{
    margin: 25px;
} */
#component-navigation{
    display: flex;
    align-items: center;
}

#logo{
	width: 240px;
    height: 60px;
    margin-left: 80px;
}

.arrow-right{
    float: right;
    
}

#body{
    /* background: #191919; */
    width: auto;
    height: 600px;
    display: flex;
    flex-direction: row;
}
#components{
    width: 300px;
    height: 500px;
}

#components-type-select {
    margin: 20px 0 0 12px;
    width: 92%;
}

#component_icon{
    width: 50px;
    height: 50px;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #191919;
}

#design-area{
    width:70%;
    height: auto;
    /* background: #3e3e3e; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

#iphone-frame{
    position: absolute;
    width: 330px;
    height: 619px;
    z-index: 1;
}
#design-frame{
    margin-top: 28px;
    margin-bottom: 20px;
    width: 279px;
    height: 462px;
    background: #fff;
    position: relative;
    display: flex;
    z-index: 2;
}

#navi_back{
    width:20px;
    height: 20px;
    margin: 0 8px
}

#navi_title_input,#navi_title_text{
    text-align: center;
    width: 80%;
    margin: 0 0 0 5px;
}

#navi_set{
    width:20px;
    height: 20px;
    margin: 0 8px;
}


#bottomNavi{
    align-self: flex-end;
    height: 40px;
    width: 100%;
    background: #090;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#bottomNavi_Icon{
    width: 33%;
    align-items: center;
    text-align: center;
}

#bottomNavi_Icon>img{
    width: 20px;
    height: 20px;
}

.btn {
    font-size: 14px;
    font-weight: normal;
}

.btn-operation {
    margin: 20px;
    font-size: 14px;
}

.nav-link {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-weight: normal;
}

.nav-link:hover {
    color: #40a9ff;
}

.nav-link.active {
    color: #1890ff !important;
    font-weight: 500 !important;
}

#palatte{
    width: 30%;
    height: 600px;
    padding: 10px;
}

#styleColors .main_wrapper {
    overflow: hidden;
    text-align: center;
}

#colors{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_wrapper{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_wrapper #colors {
    display: flex;
    align-items: center;
}

#getImgColors .main_wrapper {
    overflow: hidden;
    text-align: center;
}

#choose-picture {
    background-color: white;
    margin: 5px;
}

#upload-picture {
    width: 135px;
    margin-left: -10px;
    overflow: hidden;
    display: inline-block;
    margin-top: 50px;
}

#style-choose {
    width: 110px;
    overflow: hidden;
    display: inline-block;
    margin-top: 50px;
}

#upload-picture {
    margin-top: 30px;
}

#choosePicture {
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.upload-select-picture-card {
    width: 120px;
    height: 20px;
    display: table;
    background-color: cornflowerblue;
    color: white;
    font-weight: 500;
    border: 1px dashed #d9d9d9;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    margin: 20px;
}

.btn-generates {
    width: 120px;
}

.upload-select-picture-card > .upload {
    position: relative;
    display: table-cell;
    width: 100%;
    /* height: 100%; */
    padding-bottom: 8px;
    text-align: center;
    vertical-align: middle;
}

.upload-select-picture-card > .upload input[type='file'] {
    cursor: pointer;
}

.upload-select-picture-card i {
    font-size: 12px;
    color: #999;
}

.anticon {
    display: inline-block;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
}

.upload-select-picture-card .upload-text {
    margin-top: 8px;
    font-size: 12px;
    color: white;
}

#show-picture {
    position: absolute;
    width: 126px;
    height: 126px;
    left: 0;
    top: 0;
}

.color {
    background-color: #fff;
    width: 80px;
    height: 80px;
}
.color_wrapper {
    display: flex;
    flex-direction: row;
    width: auto;
}

.color_tools {
    display:flex;
    flex-direction:column;
    width: auto;
    height: auto;
    justify-content: space-around;
}


#btn-generate{
    margin: 16px 8px;
}
.lock {
    background: transparent no-repeat;
    background-image: url("../images/unlock.svg");
    background-size: contain;
    height: 26px;
}
.edit {
    background: transparent url(../images/edit.svg) no-repeat;
    background-size: contain;
    height: 26px;
}

.components-wrapper{
    display: flex;
    flex-direction: row;
}
.component{
    width: 100px;
    height: 100px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #191919;
    opacity: 0.45;
    margin: 5px;
}

.component>svg{
    width: 32px;
}

.component> #big{
    width: 64px;
}

.component>textarea{
    width: 64px;
}

.floatElement>svg{
    display: block;
}

.floatButton{
    width: 210px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* container */
#squares-container{
    width: 80px;
    height: 80px;
    background: #f6f6f6;
    box-shadow: 2px 2px 2px #888;
}

#round-squares-container{
    width: 80px;
    height: 80px;
    border-radius: 5px;
    background: #f6f6f6;
    box-shadow: 2px 2px 2px #888;
}

#circle-container{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #f6f6f6;
    box-shadow: 2px 2px 2px #888;
}
#squares-container-noshadow{
    width: 80px;
    height: 80px;
    background: #f6f6f6;
}

#round-squares-container-noshadow{
    width: 80px;
    height: 80px;
    border-radius: 5px;
    background: #f6f6f6;
}

#circle-container-noshadow{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #f6f6f6;
}

#choose-style-select {
    font-size: 14px;
    font-weight: normal;
    margin-top: 20px;
}

#choose-picture {
    width: 100%;
    margin: 20px;
}

#deleteButton {
    position: absolute;
    top: -20px;
    right: 0px;
    cursor: pointer;
}

#deleteButton img {
    width: 10px;
}

.logo-wrapper {
    overflow: hidden;
    width: 80%;
    height: 100%;
}

.logo-icon {
    width: 280px;
    margin-top: -32px;
    margin-left: -45px;
    overflow: hidden;
}

.logo-title {
    width: 200px;
    position: absolute;
    top: -135px;
    left: 140px;
}

.logo-zhName {
    color: white;
    font-size: 24px;
    position: absolute;
    top: 18px;
    left: 330px;
}

.change-page {
    display: flex;
    margin-left: 5%;
}

.change-page a {
    margin: 10px;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.change-page a.active {
    border-bottom: 2px solid white;
}

#changeButton {
    background: transparent url(../images/edit.svg) no-repeat;
    background-size: contain;
    height: 14px;
    width: 14px;
    position: absolute;
    top: -13px;
    right: 15px;
    cursor: pointer;
}

#TextUp {
    background: transparent url(../images/fontUp.svg) no-repeat;
    background-size: contain;
    height: 18px;
    width: 18px;
    position: absolute;
    top: -15px;
    right: 54px;
    cursor: pointer;
}

#TextDown {
    background: transparent url(../images/fontDown.svg) no-repeat;
    background-size: contain;
    height: 18px;
    width: 18px;
    position: absolute;
    top: -15px;
    right: 33px;
    cursor: pointer;
}

.button-compnent {
    width: 80px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid black;
}
